@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Styles */

html {
  font-size: 18px;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

p,
button,
a {
  font-family: 'Open Sans', sans-serif;
}

/* ==========
   Hero Section
   ========== */

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header img {
  width: min(35%, 200px);
}

header button {
  border: none;
  border-radius: 1rem;
  padding: 0.4em 2em;
  font-size: 0.7rem;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Main Hero Section */

.hero-section {
  background-color: hsl(193, 100%, 96%);
  background-image: url(images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top -5rem;
  text-align: center;
}

.hero-section.content {
  padding: 3rem 2rem;
}

.hero-section h1 {
  line-height: 1.35;
}

.hero-section p {
  font-size: .9rem;
  padding-block: 1.5rem;
}

.pink-button {
  border: none;
  border-radius: 2rem;
  padding: .9em 5em;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: hsl(322, 100%, 66%);
}

.hero-section.content img {
  margin-top: 2rem;
}

/* ==========
   Features Section
   ========== */

.features-section {
  padding: 2rem 1rem;
}

.card {
  text-align: center;
  padding: 2.5rem;
  border-radius: 1rem;
  margin-block: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card h2 {
  margin-top: 3rem;
  color: hsl(192, 100%, 9%);
  font-size: 1.2rem;
}

.card p {
  margin-top: 0.8rem;
  color: hsl(208, 11%, 55%);
  font-size: 0.8rem;
}

/* ==========
   Get Started Card
   ========== */

.get-started {
  z-index: 1;
  transform: translateY(5rem);
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin: 2rem 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.get-started h2 {
  font-size: 1rem;
}

.get-started button {
  margin-top: 1.5rem;
  font-size: 0.6rem;
}

/* ==========
   Footer
   ========== */

footer {
  padding: 0 1rem;
  padding-block: 6rem 2rem;
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  font-size: .9rem;
}

footer ul {
  list-style: none;
  line-height: 2.5;
  margin-block: 2rem;
  padding: 0;
}

footer a {
  color: hsl(193, 100%, 96%);
  text-decoration: none;
  transition: color 0.15s;
}

.logo-white {
  width: min(50%, 150px);
  filter: brightness(0) invert(1);
}

.info {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 1rem;
  align-items: center;
  margin-block: 1.5rem;
}

.location img {
  align-self: baseline;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.social-media-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  margin: .25rem;
  border: solid white 1px;
  border-radius: 2rem;
  cursor: pointer;
  transition: color .15s, border-color .15s;
}

.copyright {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.6rem;
}